body {
  background-color: #d8e2dc;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
button {
 text-align: center;
  display: grid;
  margin: 10px auto;
}
#gen {
  background-color: #ece4db; 
  border: 2px solid black;
  border-radius: 15px;
  width: 200px;
  margin: 10px auto;
}
#prompt {
  background-color: #ece4db; 
  border: 2px solid black;
  border-radius: 15px;
  width: 200px;
  margin: 10px auto;
}
